@import "../utilidades/variables";
@import "../utilidades/mixin";



/* Estilos pag productos */
.texto-contacto{
    h1{
        text-align: center;
        font-size: 2rem;
        font-weight: 300;
        background-color: #f5f4f4;
        height: 100px;
        padding: 18px;
    } 
}
.padre-prod{
    @include flex-2;
    min-width: auto;
    .container-productos{
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 60px;
    }
}